################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Library
/ProjectSettings
/Logs
*.meta
/obj/Debug
/Temp
